<section class="about">
  <div class="container">
    <h2>Education</h2>
    <div class="about-content">
      <div class="about-text" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="box-details align-left">
          <h3 class="box-title">Bachelor of Technology</h3>
          <h5>National Institute of Technology, Silchar</h5>
          <p style="margin: 0px;">Branch : Electronics and Communication Engineering</p>
          <p style="margin: 0px;">Academic Year : 2020 - 2024</p>
          <p style="margin: 0px;">CGPA : 8.94</p>
        </div>
        <div class="box-details align-right">
          <h3 class="box-title">Higher Secondary</h3>
          <h5>Ramanujan Junior College, Nagaon, Assam</h5>
          <p style="margin: 0px;">Stream : Science</p>
          <p style="margin: 0px;">Percentage : 85 %</p>
        </div>
        <div class="box-details align-left">
          <h3 class="box-title">HSLC</h3>
          <h5>Ajan Sankar Vidyapith, Moirabari, Assam</h5>
          <p style="margin: 0px;">Percentage : 90 %</p>
        </div>
        <div class="box-details align-right">
          <h3 class="box-title">Diploma in Computer Application (DCA) </h3>
          <h5>Geon Infotech, Moirabari, Assam</h5>
          <p style="margin: 0px;">Grade : A</p>
        </div>
      </div>
    </div>
  </div>
</section>